<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Dynamic Table</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link href="/css/jquery.stepy.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">


    <script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>

    <div th:include="common::commonheader"></div>


    <style>
        tr, th {
            text-align: center;
        }
    </style>

</head>

<body class="sticky-header" style="height: 100%;">

<section>
    <div th:replace="common :: leftmenu"></div>

    <!-- main content start-->
    <div class="main-content" style="min-height: 100%;top: 50px;">
        <!--        <div style="width:100%;height: 100%;background-color: #eff0f4">-->
        <div th:replace="common :: headermenu"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                All Orders
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="main.html">Home</a>
                </li>
                <li>
                    <a href="#">Order Management</a>
                </li>
                <li class="active">All Orders</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper" style="height: 771px;"></div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer style="text-align: center;margin-top: 5px;margin-bottom: 0px;">
            2022 &copy; AdminEx by AHU ISEC
        </footer>
        <!--footer section end-->
        <!--        </div>-->


    </div>
    <!-- main content end-->


</section>

<div th:replace="common :: commonscript"></div>


<!--Dashboard Charts-->
<!--<script src="/js/dashboard-chart-init.js"></script>-->
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.stepy.js"></script>
<!--<script src="/js/jquery-3.4.1.min.js"></script>-->


</body>
</html>