<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Dynamic Table</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link href="/css/jquery.stepy.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">


    <script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>

    <div th:include="common::commonheader"></div>


    <style>
        tr, th {
            text-align: center;
        }
    </style>

</head>

<body class="sticky-header" style="height: 100%;">

<section>
    <div th:replace="common :: leftmenu"></div>

    <!-- main content start-->
    <div class="main-content" style="min-height: 100%;top: 50px;">
        <!--        <div style="width:100%;height: 100%;background-color: #eff0f4">-->
        <div th:replace="common :: headermenu"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                All Orders
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="main.html">Home</a>
                </li>
                <li>
                    <a href="#">Order Management</a>
                </li>
                <li class="active">All Orders</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper" style="height: 771px;">
            <div class="row">
                <div class="col-md-12">
                    <section class="newPanel" style="background-color: white">

                        <div class="panel-body">
                            <div class="adv-table">
                                <div class="col-md-6">
                                    <button type="button" style="margin-bottom: 5px;" class="col-md-2 btn btn-info"
                                            data-toggle="modal" data-target="#myModal2">新增
                                    </button>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" placeholder="Input ID">
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-primary" type="submit">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button"
                                                class="col-md-12 btn btn-default dropdown-toggle"
                                                data-toggle="dropdown">
                                            Filters<span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                        </ul>
                                    </div>


                                </div>
                                <table class="table table-hover table-bordered">

                                    <thead>
                                    <tr>
                                        <th>订单编号</th>
                                        <th>货品名称</th>
                                        <th>起始站点</th>
                                        <th>运输方式</th>
                                        <th>收件人</th>
                                        <th>货物长度/cm</th>
                                        <th>货物宽度/cm</th>
                                        <th>货物高度/cm</th>
                                        <th>货物重量/kg</th>
                                        <th>备注信息</th>
                                        <th>截止时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order:${orders.getRecords()}">
                                        <td th:text="${order.orderId}"></td>
                                        <td th:text="${order.goods}"></td>
                                        <td th:text="${order.startStation}"></td>


                                        <td th:if="${order.model} == 1">协同</td>
                                        <td th:if="${order.model} == 2">无人机</td>
                                        <td th:if="${order.model} == 3">无人车</td>

                                        <td th:text="${order.consignee}"></td>
                                        <td th:text="${order.length}"></td>
                                        <td th:text="${order.width}"></td>
                                        <td th:text="${order.height}"></td>
                                        <td th:text="${order.weight}"></td>
                                        <td th:text="${order.info}"></td>
                                        <td th:text="${order.deadline}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <nav class="col-md-3 col-md-offset-9" aria-label="...">
                                    <ul class="pagination">
                                        <li><a th:href="@{/orders(pn=1)}">首页</a></li>

                                        <li th:class="${num == orders.current?'active':''}" th:each="num:${navNums}">
                                            <a th:href="@{/orders(pn=${num})}">[[${num}]]</a></li>
                                        <li><a th:href="@{/orders(pn=${orders.pages})}">末页</a></li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </section>
                </div>
            </div>

        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer style="text-align: center;margin-top: 5px;margin-bottom: 0px;">
            2022 &copy; AdminEx by AHU ISEC
        </footer>
        <!--footer section end-->
        <!--        </div>-->


    </div>
    <!-- main content end-->

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="border-radius: 10px;font-size: 18px;font-weight: bolder">
                <div class="modal-header" style="border-top-left-radius: 10px;border-top-right-radius: 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Creating a New Order</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row" style="margin-bottom: 15px;">
                                    <div class="col-md-4">
                                        <span>transportation mode：</span>
                                    </div>
                                    <div class="col-md-7" style="color: green">
                                        <label class="radio-inline" style="font-weight: bold">
                                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                                   value="option1"> only uav
                                        </label>
                                        <label class="radio-inline" style="font-weight: bold">
                                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                                   value="option2"> only ugv
                                        </label>
                                        <label class="radio-inline" style="font-weight: bold">
                                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                                   value="option3"> uav and ugv
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3 text-center"><span>start station：</span></div>
                            <div class="col-md-3 text-center"><span>destination：</span></div>
                            <div class="col-md-3 text-center"><span>orderID：</span></div>
                            <div class="col-md-3 text-center"><span>consignee：</span></div>


                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <input type="email" class="form-control" placeholder="W1">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="email" class="form-control" placeholder="U1 to U5">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="email" class="form-control" placeholder="five figure">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="email" class="form-control" placeholder="name">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-2 text-center"><span>goods info：</span></div>


                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <input type="email" class="form-control" placeholder="length/cm">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="email" class="form-control" placeholder="width/cm">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="email" class="form-control" placeholder="height/cm">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="email" class="form-control" placeholder="weight/kg">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-center" style="font-weight: bold;">order
                                    note：</label>
                                <div class="col-md-10">
                                    <textarea rows="6" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="col-md-1 btn btn-info"
                            data-toggle="modal" data-target="#myModalNext" data-dismiss="modal">next
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


    <!-- 模态框（Modal1） -->
    <div class="modal fade" id="myModalNext" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="border-radius: 10px;font-size: 18px;font-weight: bolder">
                <div class="modal-header" style="border-top-left-radius: 10px;border-top-right-radius: 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabelNext">Generate Distribution Scheme</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 text-center" style="line-height: 34px;">
                            <span>optimization objective：</span></div>
                        <div class="col-md-6">
                            <select class="form-control">
                                <option>time</option>
                                <option>energy</option>
                                <option>energy consumption optimization under time constraint</option>
                            </select>
                        </div>
                        <div class="col-md-2 text-center">
                            <a th:href="@{/test}">
                                <button class="btn btn-info">generate</button>
                            </a>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="col-md-1 btn btn-primary"
                            data-toggle="modal" data-target="#myModalNext">confirm
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 模态框（Modal2） -->
    <div class="modal fade form-horizontal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="border-radius: 10px;font-size: 18px;font-weight: bolder">
                <div class="modal-header" style="border-top-left-radius: 10px;border-top-right-radius: 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2" style="font-weight: bolder">Creating a New Order</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="square-widget">
                                <div class="widget-container">
                                    <div class="stepy-tab"></div>
                                    <form id="default" th:action="@{/test}" method="post">
                                        <fieldset title="Order Info" style="margin: 0;padding-bottom: 20px;">
                                            <legend>Detailed Information</legend>
                                            <div class="row" style="margin-bottom: 15px;">
                                                <div class="col-md-4" style="vertical-align: middle">
                                                    <span>transportation mode：</span>
                                                </div>
                                                <div class="col-md-8" style="color: green;vertical-align: middle">
                                                    <label class="radio-inline;"
                                                           style="padding: 0;font-weight: bold;display: inline-block">
                                                        <input style="vertical-align: middle;margin: 0" type="radio"
                                                               name="model"
                                                               id="Radio1"
                                                               value="uav">
                                                        <span>only uav</span>
                                                    </label>
                                                    <label class="radio-inline;"
                                                           style="padding: 0;font-weight: bold;display: inline-block">
                                                        <input style="vertical-align: middle;margin: 0" type="radio"
                                                               name="model"
                                                               id="Radio2"
                                                               value="ugv">
                                                        <span>only ugv</span>
                                                    </label>
                                                    <label class="radio-inline;"
                                                           style="padding: 0;font-weight: bold;display: inline-block">
                                                        <input style="vertical-align: middle;margin: 0" type="radio"
                                                               name="model"
                                                               id="Radio3"
                                                               value="both">
                                                        <span>uav and ugv</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-bottom: 10px;">
                                                <div class="col-md-3"><span>start station：</span></div>
                                                <div class="col-md-3"><span>consignee：</span></div>
                                                <div class="col-md-3"><span>orderID：</span></div>
                                                <div class="col-md-3"><span>type：</span></div>
                                            </div>
                                            <div class="row" style="margin-bottom: 15px;">
                                                <div class="col-md-3">
                                                    <input type="text" name="startStation" class="form-control"
                                                           placeholder="W1">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" name="consignee" class="form-control"
                                                           placeholder="U1 to U4">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" name="orderId" class="form-control"
                                                           placeholder="five figure">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" name="type" class="form-control"
                                                           placeholder="type of goods">
                                                </div>
                                            </div>
                                            <div class="row" style="margin-bottom: 10px;">
                                                <div class="col-md-2 text-center"><span>goods info：</span></div>
                                            </div>
                                            <div class="row" style="margin-bottom: 15px;">
                                                <div class="col-md-3">
                                                    <input type="text" name="length" class="form-control"
                                                           placeholder="length/cm">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" name="width" class="form-control"
                                                           placeholder="width/cm">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" name="height" class="form-control"
                                                           placeholder="height/cm">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" name="weight" class="form-control"
                                                           placeholder="weight/kg">
                                                </div>
                                            </div>

                                            <div class="row" style="margin-bottom: 30px;">
                                                <label class="col-md-2 control-label"
                                                       style="font-weight: bold;">order note：</label>
                                                <div class="col-md-10">
                                                    <textarea name="info" rows="6" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset title="Strategy Info" style="margin: 0;padding-bottom: 20px;">
                                            <legend>Distribution Strategy Information</legend>
                                            <div class="row" style="margin-bottom: 30px;">
                                                <div class="col-md-4 text-center" style="line-height: 34px;">
                                                    <span>optimization objective：</span></div>
                                                <div class="col-md-6">
                                                    <select class="form-control" name="objective">
                                                        <option>time</option>
                                                        <option>energy</option>
                                                        <option value="energyInTime">energy consumption optimization
                                                            under time constraint
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 text-center">
                                                        <button type="button" onclick="sendAjax()" class="btn btn-primary">generate</button>
                                                </div>
                                            </div>
                                            <div id="map_container" class="col-md-12" style="display: none;background-color: white;height: 500px;padding: 10px;border-radius: 10px;">
                                                <div id="container" style="position: relative;width: 100%;height: 100%;border-radius: 10px;"></div>
                                            </div>


                                        </fieldset>
                                        <button type="submit" class="btn btn-success finish">
                                            Finish
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</section>

<div th:replace="common :: commonscript"></div>


<!--Dashboard Charts-->
<!--<script src="/js/dashboard-chart-init.js"></script>-->
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.stepy.js"></script>
<!--<script src="/js/jquery-3.4.1.min.js"></script>-->

<!--<script type="text/javascript" src="https://a.amap.com/jsapi_demos/static/demo-center/js/jquery-1.11.1.min.js" ></script>-->
<script type="text/javascript" src="https://a.amap.com/jsapi_demos/static/demo-center/js/underscore-min.js" ></script>
<script type="text/javascript" src="https://a.amap.com/jsapi_demos/static/demo-center/js/backbone-min.js" ></script>
<script type="text/javascript" src='https://a.amap.com/jsapi_demos/static/demo-center/js/prety-json.js'></script>

<script>
    // var map = new AMap.Map("container", {
    //     // center: [112.187017,31.763388],
    //     resizeEnable: true,
    //     zoom: 11
    // });
</script>
<script type="text/javascript">
    window._AMapSecurityConfig = {
        securityJsCode:'2f8af7c5b6908ba48f1e68c3fe9744ce',
    }
</script>
<script src="https://webapi.amap.com/maps?v=2.0&key=9802c49d608a80962ed05ccdc9de7723&plugin=AMap.Driving"></script>
<script>


    /*=====STEPY WIZARD====*/
    $(function () {
        $('#default').stepy({
            backLabel: 'Previous',
            block: true,
            nextLabel: 'Next',
            titleClick: true,
            titleTarget: '.stepy-tab'
        });
    });
    /*=====STEPY WIZARD WITH VALIDATION====*/
    // $(function () {
    //     $('#stepy_form').stepy({
    //         backLabel: 'Back',
    //         nextLabel: 'Next',
    //         errorImage: true,
    //         block: true,
    //         description: true,
    //         legend: false,
    //         titleClick: true,
    //         titleTarget: '#top_tabby',
    //         validate: true
    //     });
    //     $('#stepy_form').validate({
    //         errorPlacement: function (error, element) {
    //             $('#stepy_form div.stepy-error').append(error);
    //         },
    //         rules: {
    //             'name': 'required',
    //             'email': 'required'
    //         },
    //         messages: {
    //             'name': {
    //                 required: 'Name field is required!'
    //             },
    //             'email': {
    //                 required: 'Email field is requerid!'
    //             }
    //         }
    //     });
    // });

    // 参数列表
    // model、startStation、consignee、orderId、type、length、width、height、weight、info、
    // objective



    function sendAjax () {
            const model = $("[name='model']:checked").val();
            const startStation = $("[name='startStation']").val();
            const consignee = $("[name='consignee']").val();
            const objective = $("[name='objective']").val();
            $.ajax({
                url: "/ajax/generate",
                type: "post",
                data: {
                    model:model,
                    startStation:startStation,
                    consignee:consignee,
                    objective:objective
                },
                dataType: "json",
                success: function (data) {

                    var map = new AMap.Map("container", {
                        // center: [112.187017,31.763388],
                        resizeEnable: true,
                        zoom: 14
                    });

                    var polyline = new AMap.Polyline({
                        path: data[0],
                        isOutline: true,
                        outlineColor: '#ffeeff',
                        borderWeight: 3,
                        strokeColor: "#f0f",
                        strokeOpacity: 1,
                        strokeWeight: 6,
                        // 折线样式还支持 'dashed'
                        strokeStyle: "dashed",
                        // strokeStyle是dashed时有效
                        strokeDasharray: [15, 5],
                        lineJoin: 'round',
                        lineCap: 'round',
                        zIndex: 50,
                    })
                    map.add(polyline);

                    var text1 = new AMap.Text({
                        text:'起点',
                        anchor:'top-left', // 设置文本标记锚点
                        draggable:true,
                        cursor:'pointer',
                        style:{
                            'padding': '.75rem 1.25rem',
                            'margin-bottom': '1rem',
                            'border-radius': '.40rem',
                            'background-color': 'white',
                            'width': '8rem',
                            'border-width': 0,
                            'box-shadow': '0 2px 6px 0 rgba(114, 124, 245, .5)',
                            'text-align': 'center',
                            'font-size': '20px',
                            'color': 'green',
                            'x-index':'10000'
                        },
                        // position: [location1[0],location1[1]]
                        position: data[0][0]
                    });
                    var text2 = new AMap.Text({
                        text:'终点',
                        anchor:'top-left', // 设置文本标记锚点
                        draggable:true,
                        cursor:'pointer',
                        style:{
                            'padding': '.75rem 1.25rem',
                            'margin-bottom': '1rem',
                            'border-radius': '.40rem',
                            'background-color': 'white',
                            'width': '8rem',
                            'border-width': 0,
                            'box-shadow': '0 2px 6px 0 rgba(114, 124, 245, .5)',
                            'text-align': 'center',
                            'font-size': '20px',
                            'color': 'red',
                            'x-index':'10000'
                        },
                        position: data[1]
                    });
                    text1.setMap(map);
                    text2.setMap(map);

                    var drivingOption = {
                        policy: AMap.DrivingPolicy.LEAST_TIME, // 其它policy参数请参考 https://lbs.amap.com/api/javascript-api/reference/route-search#m_DrivingPolicy
                        ferry: 1, // 是否可以使用轮渡
                        map: map,
                        autoFitView: false,
                        // panel: 'panel'
                    }
                    var driving = new AMap.Driving(drivingOption)
                    // 根据起终点经纬度规划驾车导航路线
                    driving.search(new AMap.LngLat(data[0][data[0].length - 1][0],data[0][data[0].length - 1][1]), new AMap.LngLat(data[1][0],data[1][1]), function(status, result) {
                        // result 即是对应的驾车导航信息，相关数据结构文档请参考  https://lbs.amap.com/api/javascript-api/reference/route-search#m_DrivingResult
                        if (status === 'complete') {
                        } else {
                            log.error('获取驾车数据失败：' + result)
                        }
                    });

                    var startIcon = new AMap.Icon({
                        size: new AMap.Size(25, 34),
                        image: '//a.amap.com/jsapi_demos/static/demo-center/icons/dir-marker.png',
                        imageSize: new AMap.Size(135, 40),
                        imageOffset: new AMap.Pixel(-9, -3)
                    });
                    // var content1 = '<div class="marker-route marker-marker-bus-from"></div>';
                    var marker1 = new AMap.Marker({
                        // content: markerContent,
                        icon: startIcon,
                        // icon: "//a.amap.com/jsapi_demos/static/demo-center/icons/dir-marker.png",
                        position: data[0][0],
                        offset: new AMap.Pixel(-17, -25),
                    });
                    var endIcon = new AMap.Icon({
                        size: new AMap.Size(25, 34),
                        image: '//a.amap.com/jsapi_demos/static/demo-center/icons/dir-marker.png',
                        imageSize: new AMap.Size(135, 40),
                        imageOffset: new AMap.Pixel(-50, -3)
                    });
                    var marker2 = new AMap.Marker({
                        icon: endIcon,
                        // icon: '//a.amap.com/jsapi_demos/static/demo-center/icons/dir-via-marker.png',
                        position: data[0][data[0].length-1],
                        offset: new AMap.Pixel(-14, -29),
                    });
                    map.add([marker1,marker2])
                    map.setFitView(null, true, [40, 40, 50, 50]);

                    var t = document.getElementById('map_container');
                    t.style.display = 'block';
                }
            })
            // var data = $('#default').serialize()
    }



</script>

</body>
</html>